
{{!-- {{this.count}} (total) --}}
<h4>{{this.title}}</h4>
<ul class="toolbar-hitz list-inline list-unstyled col-sm-12">
	<li class="col-sm-5"></li>
	<li class="col-sm-1 toolbar-hitz-trigger toolbar-hitz-zoom glyphicon glyphicon-fullscreen"></li>
	<li class="col-sm-1 toolbar-hitz-trigger toolbar-hitz-hide glyphicon glyphicon-ban-circle"></li>
	<li class="col-sm-5"></li>
	{{!-- <li class="">add all on this page to download queue</li> --}}
</ul>
<ul class="list-unstyled ul-hitz-split">{{#each rows}}
	<li class="hit-wrapper pull-left col-sm-12 {{#if active}}hit-marked{{/if}}"  data-id="{{_id}}" data-bbox="{{boundingbox}}" data-target="" >
		<div class="row col-sm-9">
			<div class="hit-title">{{this.title}}</div>
		</div>

		<ul class="toolbar-hit list-unstyled list-inline col-sm-3">
			<li class="pull-right toolbar-hit-trigger toolbar-hit-trigger-extent icon-girl-footprint "></li>
<!-- TRIGGERS COVERAGE ENVELOPES WHEN CONFIGURED
	<li class="pull-right toolbar-hit-trigger icon-grid "></li> -->
	<!-- <li class="pull-right toolbar-hit-trigger icon-read-more "></li> -->
	<!-- <li class="pull-right toolbar-hit-trigger glyphicon glyphicon-ok {{#if active}}hit-marked{{/if}}"></li> -->
	<!-- <li class="pull-right toolbar-hit-trigger icon-awesome-download"></li> -->
	<li class="pull-right toolbar-hit-trigger toolbar-hit-trigger-preview icon-eye"></li>
	<li class="pull-right toolbar-hit-trigger toolbar-hit-trigger-download glyphicon glyphicon-download-alt"></li>
</ul>

</li>
{{/each}}
</ul>