{{!-- {{this.count}} (total) --}}
<h4>{{this.title}}</h4>
<div class='anno' style="margin-bottom:12px;"><em>jump to one of these or execute the search with the current term(s)</em></div>
<ul class="list-unstyled">
	{{!-- {{#each rows}} --}}
	{{#each_upto rows 10}}
	<li>
		<span data-id="{{this._id}}" data-bbox="{{this.boundingbox}}" data-target="{{this.handle}}"  class="triage-trigger">{{this.title}}</span>

	</li>
	{{/each_upto}}
</ul>